.App {
  text-align: center;
}

.profile-pic {
  border-radius: 50%;
  background-size: contain;
}

.profile-pic.one {
  background-image: url('https://i.seadn.io/gae/BdxvLseXcfl57BiuQcQYdJ64v-aI8din7WPk0Pgo3qQFhAUH-B6i-dCqqc_mCkRIzULmwzwecnohLhrcH8A9mpWIZqA7ygc52Sr81hE');
}
