.store-detail-display, .booking-card-container {
    width: 90vw;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border: 1px solid black;
}
.store-detail-display {
    margin-bottom: 12px;
}

.booking-card-container {
    display: grid;
    grid-template-columns: 20% 80%;
    margin-bottom: 8px;
}

.booking-card-container .profile-pic {
    width: 100px;
    height: 100px;
    margin-block-start: 1em;
}

.booking-card-container .booking-content {
    text-align: left;
}

.store-detail-schedule {
    
}