.store-list-header-container {
    display: flex;
    justify-content: space-between;
    width: 90vw;
    max-width: 1060px;
    margin: auto;
}
.store-list-header {
    font-size: 25px;
    line-height: 44px;
}

.store-list-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 90vw;
    max-width: 1060px;
    margin: auto;
}

.store-item-container {
    margin: 20px;
    text-align: left;
    padding: 8px;
    border-radius: 5px;
}

.store-item-container:hover {
    background-color: #f6f6f6;
    cursor: pointer;
}

.store-item-container .mm-image.store {
    width: 100%;
    height: 148px;
}